html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;   
}

.container{
    text-align: center;
    padding-top: 100px;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input__box{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 500px;    
}

.text__box{
    margin-top: 50px;
}